
img{
    max-width: 100%;
}
.shadow {
  margin: 10px;
}
.homepage {
    margin: auto;
    max-width: 1500px;
}

.container-fluid-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar1 {
    align-items: center;
    display: flex;
    margin-top: 29px;
}
.navbar1 a {
    font-size: 17px;
    color: #4a4949;
    margin-left: 17px;
    font-weight: 600;
    margin-top: 23px;
}
.navbar1 img {
    width: 15%;
}


i.fa-solid.fa-arrow-right {
    color: purple;
    font-size: 19px;
    margin-left: 21px;
    margin-top: 6px;
}
.text-center1 h2 {
    font-size: 19px;
}



.navbar2 {
    margin-top: 23px;
    display: flex;
}
.navbar2 a {
    font-size: 17px;
    margin-left: 19px;
    color: #4a4848;
}


.store-system {
    align-items: center;
    display: flex;
}
.image-system img{
   width:  100%;
    border-radius: 10px;
}
.lifestyle-system img {
    width: 100%;
    border: 1px solid #e1dddd;
    border-radius: 10px;
}

.sticker-photo {
    background-image: url(https://cdn.stores.ecom.yougotagift.com/media/images/configurations/banner/2023/03/31/45861dfc-346e-4afe-bb35-ff58630df5fa.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.text-left h3 {
    margin-top: 200px;
    color: #1c451e;
    /* margin-left: 600px; */
}

.text-left {
    margin: auto;
    display: table;
    width: 75%;
  
}

.text-left h2 {
    color: #1c451e;
    line-height: normal;
    /* margin-left: 600px; */
}
.payouts-gift img {
   width: 100%;
}

.container-fluid.payouts {
    margin-top: 60px;
}
.categories img {
   width:100%;
}
.scan-link {
    align-items: center;
    display: flex;
    margin-top: 34px;
}
.play-store img {
    display: flex;
   width:  50%;
    margin-top: 21px;
}
.link-img img {
    width: 50%;
}
.container-fluid-app {
    background-color: #ebeaea;
    border-radius: 20px;
    margin-top: 10px;
    padding: 9px;
}
.features {
    margin-top: 117px;
}


input {
    font-weight: 600;
    border-radius: 13px;
    font-size: 17px;
    border: none;
    margin-bottom: 18px;
    margin-top: 24px;
    width: 100%;
    padding: 13px 22px;
    background-color: #efefef;
}

select.link-select {
    border: none;
    background-color: white;
    font-size: 17px;
    color: #545353;
    font-weight: 600;
    margin-top: 25px;
    margin-left: 30px;
}
.navbar1 a {
    font-size: 17px;
    color: #4a4949;
    margin-left: 11px;
    font-weight: 600;
}


.navbar1 h2 {
    color: purple;
}
.store-system h1 {
    font-family: sans-serif;
    color: #600360;
}
.store-system {
    margin-top: 36px;
    margin-bottom: 26px;
}

.store-system h3 {
    padding: 9px 22px;
    font-size: 16px;
    background-color: #f9f7f7;
    border-radius: 9px;
    color: #f34949;
    text-align: center;
}
.store-system  h4 {
    margin-top: 21px;
    text-align: center;
    padding: 8px 22px;
    font-size: 15px;
    background-color: #f9f7f7;
    border-radius: 9px;
    color: green;
}
.image-system h2 {
    font-size: 20px;
    color: #3a1a5f;
}
.payout h1 {
    color: #020250;
    margin-top: 24px;
    font-size: 30px;
    font-family: sans-serif;
    margin-bottom: 21px;
}

.lifestyle-system h2 {
    font-size: 19px;
    font-family: sans-serif;
    color: #3a1a5f;
}
.in-store {
    align-items: center;
    display: flex;
}
.in-store h3 {
    color: purple;
    padding: 7px 14px;
    border: 1px solid #f37e7e;
    font-size: 15px;
    border-radius: 9px;
}
/* .text-center h2 {
    margin-bottom: 30px;
    font-weight: 700;
    font-family: sans-serif;
    color: #040446e6;
    font-size: 33px;
    margin-top: 31px;
} */

.box1 {
    background: white;
    margin-top: 19px;
    padding: 8px;
    border: 1px solid #d9d5d5;
    border-radius: 12px;
 
}


.box1 img {
    width: 12%;
    margin-bottom: 16px;
}

.box2{
    margin-top: 19px;
    padding: 13px;
   width: 100%;  
}
.box1 h3 {
    margin-top: 23px;
    font-weight: 500;
    color: gray;
    font-family: sans-serif;
    font-size: 17px;
}
.box1 h5 {
    margin-top: 22px;
    font-size: 16px;
    color: #f36f86;
}

.image2 img {
    left: 177px;
    position: absolute;
    bottom: 102px;
    max-width: 13%;
}

.notification {
    position: relative;
    background-repeat: no-repeat;
    background-image: url(https://cdn.ecomv2.yougotagift.com/images/news-subscription-background.png);
    background-size: 100% 100%;
    margin: 20px;
}
.text-brand {
    display: table;
    margin: auto;
}
.text-brand h2 {
    color: #680d68;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 31px;
}

.submit-data h3 {
    color: #7e7c7c;
    font-size: 18px;
}

.submit-data {
    display: flex;
    justify-content: space-around;
}
.footer-img img {
    margin-left: 6px;
    width: 18%;
}
.footer-image1 img {
    margin-top: 26px;
    width: 21%;
}
.container-fluid-newbrands {
    background-color: #d7d7d7;
    margin-top: 82px;
}

.home-text img {
    margin-top: 11px;
   width: 50%;
 
}
.card-system input {
    width: 50%;
}
/* .card-system h2 {
    padding: 13px;
    font-size: 17px;
   max-width: 15%;
    border: 1px solid purple;
    color: purple;
    border-radius: 12px;
} */

.box1 p {
    color: gray;
    font-family: sans-serif;
    font-size: 16px;
}
.box1 h2 {
    font-weight: 600;
    font-size: 24px;
    font-family: sans-serif;
}

.digital-card p {
    color: #424142;
    font-family: sans-serif;
    font-size: 17px;
    margin-top: 25px;
}

.digital-card h2 {
    font-family: sans-serif;
    color: purple;
}

.reviews h3 {
    color: #585757;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
}
.rating {
 
    display: flex;
    align-items: center;
}


.box1 h3 {
    font-weight: 500;
    color: gray;
    font-family: sans-serif;
    font-size: 16px;
}
.box1 h4 {
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
    color: #4545f9;
}
.footer-image1 img {
    max-width: 30%;
}
.container-fluid-footer {
    margin: 30px;
}

ul.list li {
    margin-top: 10px;
    font-size: 17px;
    list-style-type: none;
    text-decoration: none;
    margin-left: -39px;
}

ul.list a {
    font-family: sans-serif;
    color: #4e4d4e;
}
.home-text h3 {
    font-weight: 600;
    font-family: sans-serif;
    font-size: 22px;
}


.text-center1 {
    color: purple;
    border-radius: 8px;
    border: 1px solid purple;
    font-size: 17px;
    display: flex;
    align-items: center;
    max-width: 15%;
    padding: 5px;
}
/* .box-card h2 {
    font-weight: 600;
    font-family: sans-serif;
    font-size: 26px;
    line-height: 39px;
    color: #3a1a5f;
} */

.submit1 {
    border: 1px solid grey;
    border-radius: 10px;
   
}

.submit-data h4 {
    max-width: 35%;
    font-size: 18px;
    border-radius: 9px;
    padding: 8px;
    background-color: #b1adad;
    text-align: center;
}

.play-store {
    margin-top: -10px;
}
.box-card h3 {
    font-size: 15px;
    color: gray;
}
.box-card {
    width: 100%;
    background-color: #f3f0f0;
    padding: 5px;
 
}
.reviews {
    margin-left: -111px;
}
.reviews h4 {
    font-weight: 600;
    color: #0d72af;
    font-size: 27px;
    margin-top: -12px;
}
.reviews h5 {
    font-size: 13px;
    color: gray;
    margin-top: -9px;
}

.image-rating1 img {
    /* width: 100%; */
    border-radius: 12px;
}
.image-rating {
    width: 50%;
    border-radius: 12px;
}
.image-rating img {
    width: 30%;
    /* margin-left: 59px; */
    border-radius: 12px;
}


.image-section img {
    max-width: 100%;
    border-radius: 12px;
}
.digital-card img {
   width: 15%;
}

.more-details h4 {
   width: 38%;
    color: #0561b1;
    padding: 12px;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
}
.links {
    margin-top: 25px;
}
.star {
    margin-top: 12px;
    display: flex;
    margin-bottom: 4px;
}
i.fa-solid.fa-star {
    color: #f3f326;
    font-size: 24px;
    margin-top: -10px;
}

.nav-links {
    margin-top: 11px;
}
.image2 img {
    left: 199px;
    position: absolute;
    bottom: 118px;
    width: 13%;
}
.image1 img {
    width: 100%;
}
 @media (max-width:600px){
    .image2 img {
        left: 176px;
        bottom: 109px;
    }
    .links {
        flex-direction: column;
    }
    .navbar1 {
        flex-direction: column;
       
    }

    .links a {
        margin-left: 0px;
    }
    
    /* .text-center1 h2 {
        width: 100%;
    } */
  
    .rating {
        margin-left: 0px;
      
    }
  
    .home-text img {
        margin-left: 0px;
    }

.home-text h3 {
    margin-left: 0px;
}

    .text-brand h2 {
        font-size: 20px;
    }
    .submit-data {
        display: initial;

    }
    .box1 h2 {
        font-size: 18px;
     
    }
    .card-system input {
        width: 100%;
    }
    
    .lifestyle-system img {
        max-width: 100%;
    }
    
    .features {
        margin-top: 10px;
    }
    .store-system {
        display: initial;
    }  
    .navbar2 a {
        margin-left: 0px;
    }

    .container-fluid-nav {
        display: initial;
        
    }
.notification {
    margin: 0px;
  position: initial;
}  
select.link-select {
    margin-left: 0px;
}

.rating {
    margin-left: 0px;
  
}
.store-system h4 {
    margin-left: 0px;
}
.navbar2 {
    margin-top: 23px;
    display: initial;
}
.shadow {
   padding: 0px;
}
.image-section img {
    margin-top: 12px;
}
.scan-link {
    display: initial;
}

.in-store {
    display: initial;
}
ul.list li {
    margin-left: 0px;
}

i.fa-solid.fa-arrow-right {
    margin-left: 0px;
}
.text-left h3 {
    margin-left: 0px;
}
.text-left h2 {
    margin-left: 0px;
}
.text-center1 {
    max-width: 100%;
}
.sticker-photo {
  margin-top: 10px;
}
.image-system img{
    max-width:  100%;
 }
 .lifestyle-system img {
    max-width: 100%;
}
.text-left {
    max-width: 100%;
  
}
.payouts-gift img {
    max-width: 100%;
 }
 
 .categories img {
   max-width: 100%;
 }
 .play-store img {
  max-width:  100%;
  display: initial;
}

.link-img img {
    max-width: 50%;
}
.box2{
   max-width: 100%;  
}
.image1 img {
    max-width: 100%;
}
.home-text img {
   max-width: 100%;
 
}
.card-system input {
    max-width: 100%;
}

.box-card {
    max-width: 100%;
 
}
.reviews {
    margin-left: 0px;
}

} 




















